#home {
    display: flex;
    min-height: 100%;
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
}

#cta .title{ 
    font-size: 2rem;
    color: var(--white);
}

#cta .description {
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
}

strong{
    color: var(--primary);
}

#cta_buttons {
    display: flex;
    gap: 25px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--white);
}

#phone_button {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    padding: 8px 14px;
    font-weight: 500;
    border-radius: 12px;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#banner img {
    border-radius: 50%;
    width: 40%;
    height: 60%;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner, img,
    #home .shape {
        display: none; 
    }
    
    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}