@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(home.css);
@import url(header.css);
@import url(menu.css);
@import url(testimonials.css);
@import url(footer.css);
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --primary: #f34739;
    --secondary: #ff6e27;
    --back1: #1d1d1d;
    --back2: #131212;
    --back3: #000000;
    --black: #000000;
    --primarylight: #ff6e27;
    --secondarylight: #f34739;
    --back1light: #ffffff;
    --back2light: #ffffff94;
    --back3light: #ffffff33;
}

body{
    background-color: var(--back1);
}

body.dark{
    background-color: var(--white);
}
section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    color: var(--primary);
}

.btn-default:hover {
    background-color: rgb(56, 0, 0);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--primary);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--white);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.social-midia-buttons a:hover {
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--primary);
    font-size: 2.1875rem;
}

.section-subtitle {
    color: var(--white);
    font-size: 1,563rem;
}

.sobre{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sobre > div img{
    width: 250px;
    border-radius: 10px;
}

.sobre > h2{
    font-size: 2.1875rem;
    color: var(--primary);
    text-align: center;
}
.sobre > div h2{
    font-size: 1rem;
    max-width: 600px;
    color: var(--white);
}